$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

/* fix for 2px-border in justified button groups provided by bootstrap */
.btn-group.btn-group-justified > .btn-group:not(:last-child) > .btn {
  border-right: 0;
}

$white-box-margin-bottom: 12px;

@mixin white-box() {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: 12px 10px;
  margin-bottom: $white-box-margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }
}

$footer-height: 40px;

html, body {
  height: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Backdrop for Dash */
#dsBackdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $zindex-modal-background;
  background: $modal-backdrop-bg;
  @include opacity($modal-backdrop-opacity);
}

.container {
  padding-bottom: $footer-height;

  &, & .row {
    height: 100%;
  }
}

$search-box-height: 40px;
$search-ui-top-when-shown: 0;
$search-ui-top-when-hidden: -($search-box-height + $white-box-margin-bottom);

@mixin keyframe-search-ui-hidden {
  display: block;
  opacity: 0;
  top: $search-ui-top-when-hidden;
}

@keyframes search-ui-hide {
  to {
    @include keyframe-search-ui-hidden;
  }
}

@keyframes search-ui-show {
  from {
    @include keyframe-search-ui-hidden;
  }
}

/* Right column */
.col-right {
  height: 100%;
  position: relative;
  @include make-md-column(4);
  @include make-lg-column(4);

  .box {
    @include white-box();
  }

  .box-group {
    position: relative;
  }

  & > .box-group {
    position: absolute !important;
    left: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
  }

  .box-group-top {
    height: $search-box-height;
    top: 0;

    .search-box {
      height: $search-box-height;
      position: relative;
      z-index: $zindex-modal-background + 10;
    }
  }

  .box-group-bottom {
    top: $search-box-height + $white-box-margin-bottom;
    bottom: 0;

    .box-group {
      position: absolute;
      top: $search-ui-top-when-shown;
      width: 100%;
      z-index: $zindex-modal-background + 5;
      opacity: 1;

      &.ng-hide-add, &.ng-hide-remove {
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;
      }

      &.ng-hide-add {
        animation-name: search-ui-hide;
      }

      &.ng-hide-remove {
        animation-name: search-ui-show;
      }

      .box-search-option {
        #dsCatalogSearchBoxLabelType,
        #dsCatalogSearchBoxLabelGrade,
        #dsCatalogSearchBoxLabelDept,
        #dsCatalogSearchBoxLabelCat {
          padding-top: $padding-base-vertical;
          padding-bottom: $padding-base-vertical;
          margin-top: 1px;
          margin-bottom: 1px;
        }
      }
    }

    .class-cart {
      width: 100%;
      height: 100%;
      z-index: $zindex-modal-background - 10;
    }
  }
}

/* Custom page footer */
.footer {
  height: $footer-height;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
