// color variables
$body-bg: #e2e7e4;
$text-color-normal: #2c2c2c !default;
$text-color-bright: #9a9994 !default;
$border-color-bright: #9a9994 !default;
$border-color-focused: #469ede !default;
$view-background-color-selected: #ecebeb !default;
$subject-left-border-color-required: #529bc0 !default;
$subject-left-border-color-optional: #7aad4c !default;
$subject-left-border-color-unavailable: #9a9994 !default;

// footer height variable
$footer-height: 40px !default;

// variables for white box
$white-box-vertical-padding: 11px !default;
$white-box-horizontal-padding: 11px !default;
$white-box-margin-bottom: 12px !default;

// variables for ds-subject directive
$subject-vertical-padding: 8px !default;
$subject-left-border-width: 6px !default;
$subject-left-border: $subject-left-border-width solid !default;
$subject-search-result-left-padding: 24px + $white-box-horizontal-padding !default;
$subject-margin-bottom: 1px !default;
$course-vertical-padding: 8px !default;

// variables for ds-timetable directive
$timetable-marking-font-size: 11px;
$timetable-hour-height: 60px;

$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$text-color: $text-color-normal;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// variables for layout
$body-padding-top: 70px !default;
$body-padding-bottom: 20px !default;
$columns-md-right: 4 !default;
$columns-md-left: $grid-columns - $columns-md-right !default;
$columns-lg-right: 3.5 !default;
$columns-lg-left: $grid-columns - $columns-lg-right !default;

@mixin white-box() {
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  padding: $white-box-vertical-padding $white-box-horizontal-padding;
  margin-bottom: $white-box-margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }
}

@function get-button-height($padding-vertical, $font-size, $line-height) {
  // 2 * 1px is for border on top and bottom
  @return $font-size * $line-height + 2 * $padding-vertical + 2 * 1px;
}

@mixin md-column-width-pixel($columns) {
  @media (min-width: $screen-md-min) {
    width: ($columns / $grid-columns) * $container-md - $grid-gutter-width;
  }
}

@mixin lg-column-width-pixel($columns) {
  @media (min-width: $screen-lg-min) {
    width: ($columns / $grid-columns) * $container-lg - $grid-gutter-width;
  }
}
