@import "common";

$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* fix for 2px-border in justified button groups provided by bootstrap */
.btn-group.btn-group-justified > .btn-group:not(:last-child) > .btn {
  border-right: 0;
}

html, body {
  height: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Backdrop for Dash */
#dsBackdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: $zindex-modal-background;
  background: $modal-backdrop-bg;
  @include opacity($modal-backdrop-opacity);
}

.container {
  padding-bottom: $footer-height;

  &, & .row {
    height: 100%;
  }
}

nav [dropdown] [role=menu] li:not(.selected) i.fa.fa-check { display: none; }

/* Custom page footer */
.footer {
  height: $footer-height;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
