@import "../common/common";
@import "../widgets/widgets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

$search-box-height: 40px;
$search-box-icon-horizontal-padding: 12px;
$search-ui-top-when-shown: 0;
$search-ui-top-when-hidden: -($search-box-height + $white-box-margin-bottom);
$course-cart-top: $body-padding-top + $search-box-height + $white-box-margin-bottom;
$course-cart-bottom: $body-padding-bottom + $footer-height;
$course-cart-btngroup-height: 50px;
$course-cart-btngroup-bgcolor: #469ede;
$course-cart-btngroup-bgcolor-lighten: rgba(#ffffff, 0.25);
$course-cart-btngroup-color: #ffffff;
$course-cart-btn-options-width: 36px;
$course-cart-btn-options-border-left: 1px solid $course-cart-btngroup-bgcolor-lighten;

@mixin keyframe-search-ui-hidden {
  display: block;
  opacity: 0;
  top: $course-cart-top + $search-ui-top-when-hidden;
}

@keyframes search-ui-hide {
  to {
    @include keyframe-search-ui-hidden;
  }
}

@keyframes search-ui-show {
  from {
    @include keyframe-search-ui-hidden;
  }
}

/* Timetable column */
.col-timetable {
  height: 100%;
  @include make-md-column($columns-md-left);
  @include make-lg-column($columns-lg-left);
}

@mixin right-column-width {
  @include md-column-width-pixel($columns-md-right);
  @include lg-column-width-pixel($columns-lg-right);
}

@mixin course-cart-position {
  overflow: hidden;
  position: fixed;
  top: $course-cart-top;
  bottom: $course-cart-bottom;
}

/* Right column */
.col-right {
  height: 100%;
  position: relative;
  @include make-md-column($columns-md-right);
  @include make-lg-column($columns-lg-right);

  .box {
    @include white-box();
    @include right-column-width;
  }

  > .box {
    position: fixed;
  }

  > .box-search {
    top: $body-padding-top;
    padding: 0;
    height: $search-box-height;

    &.focused {
      border-color: $border-color-focused;
      z-index: $zindex-modal + 5;
    }

    > .input-group {
      height: 100%;

      > *,
      > .input-group-btn > .btn {
        background: transparent;
        border: 0;
        border-radius: 0;
      }

      > .input-group-addon,
      > .input-group-btn > .btn {
        padding-left: $search-box-icon-horizontal-padding;
        padding-right: $search-box-icon-horizontal-padding;
        font-size: 16px;
        line-height: 100%;
      }

      > form > .form-control {
        border: 0;
        height: $search-box-height - 2;
        outline: none;
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  > .box-group {
    @include course-cart-position;

    z-index: $zindex-modal;
    opacity: 1;

    &.ng-hide-add, &.ng-hide-remove {
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
    }

    &.ng-hide-add {
      animation-name: search-ui-hide;
    }

    &.ng-hide-remove {
      animation-name: search-ui-show;
    }

    > .box-search-option {
      #dsCatalogSearchBoxLabelType,
      #dsCatalogSearchBoxLabelGrade,
      #dsCatalogSearchBoxLabelDept,
      #dsCatalogSearchBoxLabelCat {
        padding-top: $padding-base-vertical;
        padding-bottom: $padding-base-vertical;
        margin-top: 1px;
        margin-bottom: 1px;
      }
    }

    > .box-search-result {
      padding: 0;

      .subjects {
        @include ds-subject-list-style;
      }
    }
  }

  .box-course-cart {
    @include course-cart-position;

    z-index: $zindex-modal-background - 10;
    padding: 0;

    > ds-course-cart {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: $course-cart-btngroup-height;
    }

    > .button-group {
      position: absolute;
      bottom: 0;
      display: table;
      table-layout: fixed;
      margin: 0;
      width: 100%;
      height: $course-cart-btngroup-height;
      background-color: $course-cart-btngroup-bgcolor;

      > .button-wrapper {
        display: table-cell;
        position: relative;

        &.button-wrapper-options {
          width: $course-cart-btn-options-width;
          border-left: $course-cart-btn-options-border-left;
        }

        > .btn {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 0;
          background-color: transparent;
          color: $course-cart-btngroup-color;

          &:hover {
            background-color: $course-cart-btngroup-bgcolor-lighten;
            color: $course-cart-btngroup-color;
          }

          &.btn-options {
            width: $course-cart-btn-options-width;
          }
        }
      }
    }
  }
}

.modal.modal-genopt {
  .col-tilde {
    @include make-sm-column(0.25);

    padding-left: 0;
    padding-right: 0;
    text-align: center;
    line-height: $input-height-small;
  }
}
