<div class="row">
  <div class="col-timetable">
    <ds-timetable time-range="[1, 32]" preview-course="timetable.previewCourse"></ds-timetable>
  </div>
  <div class="col-right" ng-controller="CourseSearchCtrl">
    <div class="box box-search" ng-class="{focused: uiStatus.isSearchBoxFocused}">
      <div class="input-group" ng-click="focusOnSearchBox()">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <form ng-submit="searchCourses()">
          <input class="form-control" placeholder="Name, Instructor, Code..." type="search" ng-model="userInput.keyword" ng-focus="focusOnSearchBox()">
        </form>
        <span class="input-group-btn">
          <button class="btn btn-default"
                  type="button"
                  ng-click="uiStatus.isSearchBoxFocused && (uiStatus.isOptionBoxOpen = !uiStatus.isOptionBoxOpen)">
            <i class="fa fa-gear"></i>
          </button>
        </span>
      </div>
    </div>

    <div class="box-group" ng-show="uiStatus.isSearchBoxFocused">
      <div class="box box-search-option" ng-show="uiStatus.isOptionBoxOpen">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label id="dsCatalogSearchBoxLabelType" class="col-sm-2">Type</label>
            <div class="col-sm-10">
              <div class="btn-group btn-group-justified" role="group" aria-labelledby="dsCatalogSearchBoxLabelType">
                <div class="btn-group" role="group">
                  <button class="btn btn-default" type="button" ng-model="userInput.type" btn-radio="null">All</button>
                </div>
                <div class="btn-group" role="group">
                  <button class="btn btn-default" type="button" ng-model="userInput.type" btn-radio="'major'">Major</button>
                </div>
                <div class="btn-group" role="group">
                  <button class="btn btn-default" type="button" ng-model="userInput.type" btn-radio="'general'">General</button>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="userInput.type === 'major'">
            <div class="form-group">
              <label id="dsCatalogSearchBoxLabelGrade" class="col-sm-2">Grade</label>
              <div class="col-sm-10">
                <div class="btn-group btn-group-justified" role="group" aria-labelledby="dsCatalogSearchBoxLabelGrade">
                  <div class="btn-group" role="group">
                    <button class="btn btn-default" type="button" ng-model="userInput.target_grade" btn-radio="null">All</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button class="btn btn-default" type="button" ng-model="userInput.target_grade" btn-radio="1">1</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button class="btn btn-default" type="button" ng-model="userInput.target_grade" btn-radio="2">2</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button class="btn btn-default" type="button" ng-model="userInput.target_grade" btn-radio="3">3</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button class="btn btn-default" type="button" ng-model="userInput.target_grade" btn-radio="4">4</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button class="btn btn-default" type="button" ng-model="userInput.target_grade" btn-radio="5">5</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label id="dsCatalogSearchBoxLabelDept" class="col-sm-2">Dept.</label>
              <div class="col-sm-10">
                <select class="form-control"
                        aria-labelledby="dsCatalogSearchBoxLabelDept"
                        ng-model="userInput.department_id"
                        ng-options="department.id as department.name for department in departments">
                  <option value="">(All)</option>
                </select>
              </div>
            </div>
          </div>

          <div ng-show="userInput.type === 'general'">
            <div class="form-group">
              <label id="dsCatalogSearchBoxLabelCat" class="col-sm-2">Cat.</label>
              <div class="col-sm-10">
                <select class="form-control"
                        aria-labelledby="dsCatalogSearchBoxLabelCat"
                        ng-model="userInput.category_id"
                        ng-options="category.id as category.name for category in categories">
                  <option value="">(All)</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="box box-search-result" ng-show="uiStatus.isResultBoxOpen" ds-perfect-scrollbar>
        <ul class="subjects">
          <ds-subject ng-repeat="courseGroup in searchResult track by courseGroup.subject.id"
                      subject="courseGroup.subject"
                      courses="courseGroup.courses"
                      course-mouseenter="timetable.previewCourse = course"
                      course-mouseleave="timetable.previewCourse = null"
                      expanded></ds-subject>
        </ul>
      </div>
    </div>

    <div class="box box-course-cart">
      <ds-course-cart ds-perfect-scrollbar></ds-course-cart>
      <div class="button-group" role="group" aria-label="Timetable generator button group">
        <div class="button-wrapper">
          <button class="btn btn-generate" type="button" name="generateButton">
            <i class="fa fa-magic"></i> Generate Timetables
          </button>
        </div>
        <div class="button-wrapper button-wrapper-options">
          <button class="btn btn-options" type="button" name="genOptButton" ng-click="openGenOptions();">
            <i class="fa fa-gear"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- For child states of state 'create'. -->
<ui-view></ui-view>
