<div class="row">
  <div class="col-md-2 col-lg-2">column 1</div>
  <div class="col-md-6 col-lg-5">column 2</div>
  <div class="col-right" ng-controller="ClassSearchCtrl">
    <div class="box-group box-group-top">
      <div class="box search-box">
        <div class="input-group" ng-click="focusOnSearchBox()">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input class="form-control" placeholder="Name, Instructor, Code..." type="search" ng-model="keyword" ng-focus="focusOnSearchBox()">
          <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-gear"></i></button></span>
        </div>
      </div>
    </div>

    <div class="box-group box-group-bottom">
      <div class="box-group" ng-class="{hidden: !isSearchBoxFocused}">
        <div class="box box-search-option">
          Search option box
        </div>
        <div class="box box-search-result">
          Search result box
        </div>
      </div>

      <div class="box class-cart">
        Class cart
      </div>
    </div>
  </div>
</div>
